body {
  /*background: url('/images/rockywall.png');*/
  background-color: #fff;
}

#container {
  width: 760px;
  margin: 0px auto;
}

h1, header, p {
  padding: 0px;
  margin:  0px;
}

h1 {
  font-size: 18px;
}

header {
  text-align: left;
  font-family: Inconsolata, sans-serif;
  font-size: 16px;
  margin: 10px 0px;

  color: #333;
}

#garden {
  background: #fff;
  width: 740px;
  height: 500px;
  border: 1px solid #afafaf;
  cursor: crosshair;
}

#garden:active {
  cursor: crosshair;
}
