body {
  /*background: url('/images/rockywall.png');*/
  background-color: #fff;
  font-family: Inconsolata, sans-serif;
}

#container {
  width: 740px;
  margin: 0px auto;
}

h1, header, p {
  padding: 0px;
  margin:  0px;
}

h1 {
  font-size: 18px;
  font-variant: small-caps;
}

a, a:visited {
  color: #333;
  font-weight: bold;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: left;
  font-size: 16px;
  margin: 10px 0px;

  color: #333;
}

#garden {
  background: #fff;
  width: 740px;
  height: 500px;
  cursor: crosshair;
}

#garden:active {
  cursor: crosshair;
}

#rock-caddy, #garden {
  border: 1px solid #afafaf;
}

#rock-caddy {
  margin-top: 10px;
}

#rock-caddy:empty {
  display: none;
}

footer {
  font-family: Helvetica, arial;
  font-variant: small-caps;
  font-size: 12px;
  position:fixed;
  bottom:0px;
  background: #f9f9f9;
  opacity: 0.8;
}
